@import '../../styles/common/colors';

.page-home {
  border: 1px solid $color-gray-light;
  background: $color-white;
  max-width: 480px;
  margin: 32px auto;
  padding: 8px;
  .main-menu {
    li {
      margin: 8px 0;
    }
  }
}
