.cvElement.skill {
  margin-bottom: 16px;
  .rating {
    margin: 0;
    padding: 0;
    list-style-type: none;
    .point {
      display: inline-block;
      width: 16px;
      height: 8px;
      margin-right: 4px;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
    }
  }
}
