@import '../../../../styles/common/colors';

.cvSectionEditor {
  position: relative;
  z-index: 100;
  padding: 8px;
  label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    color: $color-gray-darker;
  }
  input,
  textarea {
    font-size: 16px;
    margin-bottom: 16px;
    padding: 4px;
    width: 100%;
  }
  textarea {
    height: 100px;
  }
  .listSectionFields {
    ul {
      padding-left: 24px;
      li {
        position: relative;
        input {
          width: calc(100% - 80px);
        }
        .removeEntryItem {
          position: absolute;
          right: 0;
          top: 0;
          padding: 5px;
        }
      }
    }
  }
  .skillsetSectionFields {
    ul {
      list-style: none;
      padding: 0;
      li {
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid $color-gray-light;
        input {
          margin-bottom: 8px;
        }
        select {
          display: inline-block;
          width: 50%;
        }
        .ratingLabel {
          display: inline-block;
          width: 50%;
        }
        .removeEntryItem {
          margin-top: 8px;
          width: 100%;
        }
        .addNewItem {
          width: 100%;
        }
      }
    }
  }
  .button {
    padding: 8px;
    cursor: pointer;
    text-align: center;
    &.addNewItem,
    &.removeEntryItem {
      display: inline-block;
      background: $color-gray-lighter;
      border: 1px solid $color-gray-light;
    }
    &.saveSection {
      margin-top: 16px;
      background: $color-blue;
      color: $color-white;
      font-weight: bold;
    }
  }
}
