@import '../../../../styles/common/colors';

.cvSectionEditorWrapper {
  position: relative;
  &.editable {
    cursor: pointer;
    .clickToEditLabel {
      display: none;
    }
    &:hover {
      .clickToEditLabel {
        display: block;
        position: absolute;
        width: 200px;
        left: calc(50% - 100px);
        top: calc(50% - 16px);
        text-align: center;
        border-radius: 8px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: $color-blue;
        color:white;
        padding: 8px;
        z-index: 10;
      }
      &:before {
        content: '';
        text-align: right;
        position: absolute;
        top: -8px;
        left: -8px;
        width: calc(100% + 12px);
        height: calc(100% + 12px);
        border: 3px solid $color-blue;
        background-color: rgba(255, 255, 255, 0.75);
        z-index: 10;
      }
    }
  }
  &.inEditMode {
    margin-bottom: 32px;
    &:before {
      content: '';
      position: absolute;
      top: -8px;
      left: -8px;
      width: calc(100% + 12px);
      height: calc(100% + 12px);
      border: 3px solid $color-blue;
      background: $color-white;
      z-index: 10;
    }
  }
}
