@import '../../styles/common/colors';

.spinner {
	display: inline-block;
	&.align-inline {
		vertical-align: middle;
		margin: 0 6px;
	}
	&.align-center {
		text-align: center;
		display: block;
		margin: 32px auto;
	}

	&:before {
		display: inline-block;
		vertical-align: middle;
		content: '';
		border: 2px solid transparent;
		border-radius: 50%;
		animation: anim-spinner-rotate .6s linear infinite;
	}

	&.size-mini:before {
		width: 12px;
		height: 12px;
	}
	&.size-small:before {
		width: 24px;
		height: 24px;
	}
	&.size-medium:before {
		width: 32px;
		height: 32px;
	}
	&.size-large:before {
		width: 48px;
		height: 48px;
	}
	&.size-huge:before {
		width: 64px;
		height: 64px;
  }
  &.color-gray:before {
    border-top-color: $color-gray;
	}
	&.color-red:before {
    border-top-color: $color-red;
	}
  &.color-white:before {
    border-top-color: $color-white;
  }
}

@keyframes anim-spinner-rotate {
	to { transform: rotate(360deg); }
}
