@import '../../../styles/common/breakpoints';
@import '../../../styles/common/colors';

.cvDisplay {
  max-width: 1024px;
  @media #{$screen-small-up} {
    background: $color-white;
    margin: 32px auto;
    border: 1px solid $color-gray-light;
  }
}
