// Breakpoints - Media Query Ranges
// **********************

// We use these functions to define ranges for various things, like media queries.
@function lower-bound($range){
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range,1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}

$phone-portrait-range:  (       0em,  29.9375em );   //    0px -  479px
$phone-landscape-range: (      30em,  47.9375em );   //  480px -  767px
$tablet-range:          (      48em,  61.1875em );   //  768px -  979px
$screen-small-range:    (   61.25em,  74.9375em );   //  980px - 1119px
$screen-medium-range:   (      75em,  88.6875em );   // 1200px - 1419px
$screen-large-range:    (   88.75em, 118.6875em );   // 1420px - 1899px
$screen-xlarge-range:   (  118.75em, 146.8125em );   // 1900px - 2349px
$screen-xxlarge-range:  ( 146.875em );               // 2350px

$screen: "only screen";

$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";

$phone-portrait-up: $screen;
$phone-portrait-only: "#{$screen} and (max-width: #{upper-bound($phone-portrait-range)})";

$phone-landscape-up: "#{$screen} and (min-width:#{lower-bound($phone-landscape-range)})";
$phone-landscape-only: "#{$screen} and (min-width:#{lower-bound($phone-landscape-range)}) and (max-width:#{upper-bound($phone-landscape-range)})";
$phone-landscape-down: "#{$screen} and (max-width:#{upper-bound($phone-landscape-range)})";

$tablet-up: "#{$screen} and (min-width:#{lower-bound($tablet-range)})";
$tablet-only: "#{$screen} and (min-width:#{lower-bound($tablet-range)}) and (max-width:#{upper-bound($tablet-range)})";
$tablet-down: "#{$screen} and (max-width:#{upper-bound($tablet-range)})";

$screen-small-up: "#{$screen} and (min-width:#{lower-bound($screen-small-range)})";
$screen-small-only: "#{$screen} and (min-width:#{lower-bound($screen-small-range)}) and (max-width:#{upper-bound($screen-small-range)})";
$screen-small-down: "#{$screen} and (max-width:#{upper-bound($screen-small-range)})";

$screen-medium-up: "#{$screen} and (min-width:#{lower-bound($screen-medium-range)})";
$screen-medium-only: "#{$screen} and (min-width:#{lower-bound($screen-medium-range)}) and (max-width:#{upper-bound($screen-medium-range)})";
$screen-medium-down: "#{$screen} and (max-width:#{upper-bound($screen-medium-range)})";

$screen-large-up: "#{$screen} and (min-width:#{lower-bound($screen-large-range)})";
$screen-large-only: "#{$screen} and (min-width:#{lower-bound($screen-large-range)})";

$screen-xlarge-up: "#{$screen} and (min-width:#{lower-bound($screen-xlarge-range)})";
$screen-xlarge-only: "#{$screen} and (min-width:#{lower-bound($screen-xlarge-range)})";

$screen-xxlarge-up: "#{$screen} and (min-width:#{lower-bound($screen-xxlarge-range)})";
$screen-xxlarge-only: "#{$screen} and (min-width:#{lower-bound($screen-xxlarge-range)})";
