// Colors
// **********************

// common
$color-black: #000;
$color-blue-grey: #bbbec5;
$color-mint: #effaff;
$color-blue: #33a0da;
$color-green: #38cb74;
$color-green-dark: #00B860;
$color-gray: #818183;
$color-gray-dark: #43454a;
$color-gray-darker: #393d48;
$color-gray-darkest: #35373B;
$color-gray-light: #c9c9c9;
$color-gray-lighter: #f5f5f5;
$color-gray-lightest: #fafafa;
$color-red: #e54d42;
$color-red-dark: #DF3349;
$color-steel: #8a8e96;
$color-white: #fff;
$color-yellow: #fec952;
$color-orange: #ff9d38;
$color-twitch: #7d5bbe;
$color-twitch-dark: #6441a4;
