@import '../../../../../styles/common/colors';
@import '../../../../../styles/common/breakpoints';
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto:400,500&subset=latin-ext');

.razorTheme {
  display: grid;
  padding: 0;
  grid-gap: 0;
  grid-template-areas:
    'header'
    'main'
    'sidebar'
  ;
  @media #{$screen-small-up} {
    grid-template-areas:
      'header main'
      'sidebar main'
    ;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto 1fr;
  }
  .cvArea {
    &.header {
      grid-area: header;
      padding: 32px 32px 0 32px;
    }
    &.sidebar {
      grid-area: sidebar;
      padding: 32px;
      @media #{$screen-small-up} {
        padding-top: 0;
      }
    }
    &.main {
      grid-area: main;
      padding: 32px;
    }
  }
  .cvSection {
    margin-bottom: 32px;
    &.userPhoto {
      width: 160px;
      margin: 0 auto 32px auto;
      height: 160px;
      overflow: hidden;
      border-radius: 50%;
      background-size: cover;
    }
    &.userName {
      text-align: center;
      font-size: 16px;
    }
  }
  .cvElement {
    &.header {
      font-family: Roboto;
      font-weight: 500;
      text-transform: uppercase;
    }
    &.text {
      line-height: 1.5;
    }
    &.datedEntry {
      border-left: 5px solid $color-gray-lighter;
      padding-left: 16px;
      .timeRange {
        font-size: 14px;
        opacity: 0.7;
        margin-bottom: 4px;
      }
      .title {
        margin: 0;
        text-transform: none;
      }
      .label {
        font-style: italic;
        opacity: 0.9;
      }
      .description {
        margin-top: 16px;
        font-size: 14px;
      }
    }
  }
}
