<!DOCTYPE html>
<html lang="en">
<!--
  This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate
  a different index.html for each environment. htmlWebpackPlugin will dynamically add references
  to the scripts and styles that it bundles to this file. The generated bundles have hash-based
  filenames, so it's necessary to add the references dynamically. For more info on ejs,
  see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin,
  see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
-->
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <title>Resume Creator</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%= require('./assets/browser/favicon.ico') %>">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
